@use 'base/variables' as v;
@use 'base/mixins' as m;

.imagen-contacto {
    background-image: url(../../../build/img/encuentra.webp), url(../../../build/img/encuentra.jpg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 45rem;
    background-position: center center;
    background-size: cover;
    h2, p {
        color: v.$blanco;
    }
    h2{
        font-weight: v.$black;
    }
    p{
        font-weight: v.$delgada;
    }
    a {
        margin-top: 2rem;
    }
}
