@use 'base/variables' as v;
@use 'base/mixins' as m;

.informacion {
    @include m.tablet {
        @include m.grid(3, 4)
    }
}

.informacion__icono {
    display: block;
    justify-items: center;
    text-align: center;
    h3 {
        text-transform: uppercase;
    }
    img {
        max-height: 10rem;
    }
}