@use 'base/variables' as v;
@use 'base/mixins' as m;

.aviso {
    display: flex;
    flex-direction: column;
    margin: 1rem auto;
    border-radius: 1rem;
    max-width: 55rem;
    
    p{
        text-align: center;
        margin: 0.5rem;
        color: v.$blanco;
        text-transform: uppercase;
    }
    &.error {
        background-color: v.$rojo;
    }
    &.correcto {
        background-color: v.$verde;
    }

}

.table-propiedades{
    width: 100%;
    margin-top: 2rem;
    text-align: center;
    text-transform: uppercase;

    th{
        background-color: v.$gris;
        padding: 1rem;
        color: v.$negro;

    }
    td{
        border: .3rem solid v.$gris;
    }
    img{
        max-width: 10rem;

        margin: 0 auto;
    }

}

.w-100{
    margin-top: .5rem;
    width: 100%;
    padding: 1.5rem;
    border: none;
}